body{
    background-image: url('background.jpg');
    background-size: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
}

.button {
    margin-left: 150px;
    margin-top: 60px;
}
